<div class="ui three stackable cards">

    <a class="ui card" href="">

      <div class="content">

        <h4 class="ui icon header">

          <i class="bar chart icon"></i>
          Poll your audience

        </h4>

      </div>

    </a>

    <a href="" class="ui card">

      <div class="content">

        <h4 class="ui icon header">

          <i class="image icon"></i>
          Open the whiteboard

        </h4>

      </div>

    </a>

    <a href="" class="ui card">

      <div class="content">

        <h4 class="ui icon header">

          <i class="comments icon"></i>
          Open Q&amp;A

        </h4>

      </div>

    </a>

</div>
