<title>participate.live &bullet; <%= pageTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" as="style" href="/semantic/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" as="style" href="/css/main.min.css">
<link href="https://unpkg.com/animate.css@3.5.1/animate.min.css" rel="stylesheet" type="text/css">
