<div class="gradient-cards">

    <h3 class="ui inverted header">Get started instantly</h3>

    <div class="ui three stackable cards">

        <a class="ui card" href="">

          <div class="content">

            <h4 class="ui icon header">

              <i class="bar chart icon"></i>
              Poll your audience

            </h4>

          </div>

        </a>

        <a href="" class="ui card">

          <div class="content">

            <h4 class="ui icon header">

              <i class="image icon"></i>
              Open the whiteboard

            </h4>

          </div>

        </a>

        <a href="" class="ui card">

          <div class="content">

            <h4 class="ui icon header">

              <i class="comments icon"></i>
              Open Q&amp;A

            </h4>

          </div>

        </a>

    </div>

    <div class="showMoreTypes">
      <button class="ui small basic inverted right labeled icon button">
        <i class="right arrow icon"></i>
        Show me more types
      </button>
    </div>

</div>

<div class="ui raised padded segment">

  <h3 class="ui header">
    <i class="lab icon"></i>
    <div class="content">
      My Activities
      <div class="sub header">Manage your activities</div>
    </div>
  </h3>

    <div class="ui doubling link cards basic segment">


        <div class="card">

          <div class="content">

            "Continents"

          </div>

          <div class="content">

            <div class="meta">Created Tues 17 Jan</div>
            <div class="description">A quiz about countries and continents.</div>

          </div>

        </div>


    </div>

</div>
