<div class="gradient-cards">

    <h3 class="ui inverted header">Get started instantly</h3>

    <div class="ui three stackable cards">

        <a class="ui card" href="">

          <div class="content">

            <h4 class="ui icon header">

              <i class="bar chart icon"></i>
              Poll your audience

            </h4>

          </div>

        </a>

        <a href="" class="ui card">

          <div class="content">

            <h4 class="ui icon header">

              <i class="image icon"></i>
              Open the whiteboard

            </h4>

          </div>

        </a>

        <a href="" class="ui card">

          <div class="content">

            <h4 class="ui icon header">

              <i class="comments icon"></i>
              Open Q&amp;A

            </h4>

          </div>

        </a>

    </div>

    <!--
    TODO: Implement more types and add cards here
        <div class="showMoreTypes">
          <button class="ui small basic inverted right labeled icon button">
            <i class="right arrow icon"></i>
            Show me more types
          </button>
        </div>
    -->

</div>

<div class="ui padded segment" v-cloak>

    <h3 class="ui header">
      <i class="users icon"></i>
      <div class="content">
        My Rooms
        <div class="sub header">Manage your rooms</div>
      </div>
    </h3>

    <div class="ui info message" v-if="rooms.length == 0"><i class="info circle icon"></i> To get started, add a new room.</div>

    <div class="ui top attached fluid primary button" v-on:click="addRoom">
        <i class="add icon"></i>
        Add new room
    </div>

    <div class="ui bottom attached segment">

        <table class="ui very basic celled table" v-if="rooms.length > 0">

            <tbody>
                <tr v-for="(room, index) in rooms">
                    <td>{{ room.title }}</td>
                    <td>
                        <a :href="'/room/' + room._id" class="ui button" target="_blank"><i class="expand icon"></i> Open</a>
                        <div class="ui button" v-on:click="deleteRoom(room, index, $event)"><i class="remove icon"></i> Delete</div>
                    <td>
                </tr>
            </tbody>

        </table>

    </div>

</div>
