<div class="gradient-cards">

    <h3 class="ui inverted header">
      <i class="circular users icon"></i>
      <div class="content">
        My Rooms
        <div class="sub header">Manage your rooms</div>
      </div>
    </h3>

    <div class="placeholder" v-if="rooms.length === 0">
        To get started, add a room
    </div>

    <div class="ui fluid inverted button" v-on:click="addRoom">
        <i class="add icon"></i>
        Add new room
    </div>

    <div class="ui divider"></div>

    <div class="ui two stackable cards" v-if="rooms.length > 0">

        <div class="ui card" v-for="(room, index) in rooms">

          <div class="content">

            <h3 class="ui center aligned header">
                {{ room.title }}
            </h3>

          </div>

          <div class="ui bottom attached two buttons">
              <a class="ui button" :href="'/room/'+room._id">
                  <i class="expand icon"></i> Open
              </a>
              <div class="ui button" v-on:click="deleteRoom(room, index, $event)">
                  <i class="remove icon"></i> Delete
              </div>
          </div>

      </div>

    </div>

</div>
