<div class="ui left vertical menu wide sidebar">
    <a class="item">
      <i class="dashboard icon"></i> Dashboard
    </a>
    <a class="item">
      <i class="user icon"></i> My Account
    </a>
    <a class="item">
      <i class="log out icon"></i> Log Out
    </a>
  </div>
