<header>

  <div class="ui container">

    <div id="menu" class="ui fluid inverted secondary borderless basic menu">

      <div class="left header item">

        <a href="/" class="ui image">
          <img src="/images/logo.svg">
        </a>

      </div>

      <% if(typeof(user) !== 'undefined') { %>
      <div class="item">

        <img class="ui spaced avatar image" v-bind:src="user.picture" v-cloak>
        <span v-cloak>{{ user.nickname }}</span>

      </div>
      <% } %>

      <div class="item">

        <a href="/logout" class="ui inverted button">
          Log out
        </a>

      </div>

    </div>

  </div>

</header>
