<header>

  <div class="ui container">

    <div id="menu" class="ui fluid inverted secondary borderless basic menu">

      <div class="left header item">

        <a href="/" class="ui image">
          <img src="/images/logo.svg">
        </a>

      </div>

      <div class="item">

        <a href="javascript:window.close()" class="ui inverted button">
          <i class="compress icon"></i> Leave room
        </a>

      </div>

    </div>

  </div>

</header>
