<header class="roomHeader">

  <div class="ui container">

    <div id="menu" class="ui fluid inverted secondary borderless stackable basic menu">

      <div class="left header item">

          <a href="/" class="ui fluid inverted button">
              <i class="left arrow icon"></i> Back to Dashboard
          </a>

      </div>

      <div class="item">

          {{ room.title }}

      </div>

      <div class="item">

        <i class="users icon"></i> {{ participants }} participants

      </div>

      <div class="item">

          <a href="#" class="ui fluid inverted labeled icon button" v-on:click="showSharingDimmer">
              Share room <i class="external icon"></i>
          </a>

      </div>

    </div>

  </div>

</header>
