<h3 class="ui header">
    <i class="circular comments icon"></i>
    <div class="content">
        Open Q&amp;A
        <div class="sub header">Start an audience-wide discussion</div>
    </div>
</h3>

<div class="ui section divider"></div>

<div class="ui stackable grid">

    <div class="seven wide column">

        <div class="ui button" v-on:click="addNewResponse">Add new response</div>

        <div class="ui form">

            <div class="field">

                <label>Ask a question:</label>
                <textarea class="question" v-model="openResponseTitle" placeholder="Click here to set a question" rows="5"></textarea>

            </div>

        </div>

    </div>

    <div class="nine wide column">

        <div class="ui padded segment">

            <div class="ui top attached label"><i class="comments icon"></i> Responses</div>

            <div class="placeholder" v-if="responses.length === 0">No responses yet</div>

            <ul id="responses">

                <transition-group name="custom-classes-transition" v-on:before-enter="beforeResponseEnter" v-on:enter="afterResponseEnter" enter-active-class="animated zoomInDown" leave-active-class="animated zoomOutUp">
                    <li v-for="(response, index) in responses" v-bind:key="response">
                            <div class="responseBubble" :key="index">
                                {{ response.title }}
                            </div>
                    </li>
                </transition-group>

            </ul>

        </div>

    </div>

</div>
