<h3 class="ui header">
    <i class="circular picture icon"></i>
    <div class="content">
        Whiteboard
        <div class="sub header">Share thoughts and ideas easily, instantly</div>
    </div>
</h3>

<div class="ui section divider"></div>

<div class="ui stackable grid">

    <div class="six wide column">

        <div class="ui secondary fluid button" v-on:click="clearWhiteboard"><i class="eraser icon"></i> Clear board</div>
        <div class="ui center aligned segment colourPicker">
            <div class="ui top attached label">Colour picker</div>
            <swatches-picker v-model="colors" @change-color="onChange"></swatches-picker>
        </div>

    </div>

    <div id="whiteboardParent" class="ten wide column">

        <div class="ui basic segment">
            <div class="ui dimmer canvasMsgDimmer">

                <div class="content">

                    <div class="centered">

                        <h3 class="ui inverted icon header">
                            <i class="circular checkmark icon"></i>
                            Cleared!
                        </h3>

                    </div>

                </div>

            </div>
            <canvas id="whiteboard" width="600" height="500"></canvas>
        </div>

    </div>

</div>
