header {
    background-color:#383838;
    color:white;
    padding:1em 0;
    margin-bottom:2em;
  }

  main {
    border-top:2px solid #e3e3e3;
    padding:1em 0;
  }

.gradient-cards {

  background-image: -ms-linear-gradient(top, #35A2B9 0%, #D05082 100%);
  background-image: -moz-linear-gradient(top, #35A2B9 0%, #D05082 100%);
  background-image: -o-linear-gradient(top, #35A2B9 0%, #D05082 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #35A2B9), color-stop(100, #D05082));
  background-image: -webkit-linear-gradient(top, #35A2B9 0%, #D05082 100%);
  background-image: linear-gradient(to bottom, #35A2B9 0%, #D05082 100%);

  padding:2em;
  min-height:250px;

  border-radius:5px;

}

a.ui.card {
  text-decoration:none !important;
}

.gradient-cards .card {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2) !important;
  padding-top:1em !important;
}

.sidebar {
}

.showMoreTypes {
  margin-top:1.8em;
}

.hero {

  padding:2em 0 !important;
  border-radius:0 !important;

  // TODO: animate this gradient!

  background-image: -ms-linear-gradient(top left, #35A2B9 0%, #D05082 100%) !important;
  background-image: -moz-linear-gradient(top left, #35A2B9 0%, #D05082 100%) !important;
  background-image: -o-linear-gradient(top left, #35A2B9 0%, #D05082 100%) !important;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #35A2B9), color-stop(100, #D05082)) !important;
  background-image: -webkit-linear-gradient(top left, #35A2B9 0%, #D05082 100%) !important;
  background-image: linear-gradient(to bottom right, #35A2B9 0%, #D05082 100%) !important;

}

.slider .button {
  margin:1em 0 !important;
}

// Auth0

.auth0-lock.auth0-lock .auth0-lock-header {
  height:auto !important;
}
