<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>


  <div id="nav">
    <% include ../../partials/nav.ejs %>
  </div>

  <div class="ui hidden divider"></div>

  <main v-cloak>

      <div class="ui container">

        <div class="ui centered stackable padded grid">

            <div class="eleven wide column">

              <% include ../../partials/main.ejs %>

            </div>

            <div class="five wide column">

                <h3 class="ui header">Quick links</h3>

                <a href="http://participate-live.helpsite.io" class="ui fluid button" target="_blank">
                    Frequently asked questions <i class="right chevron icon"></i>
                </a>

            </div>

          </div>

    </div>
  </main>
  
  <script type="text/javascript">
      var user = <%- user %>;
      var rooms = <%-rooms%>;
  </script>

  <% if(env.NODE_ENV === 'development') { %>
  <script type="text/javascript" src="/scripts/vue/dist/vue.js"></script>
  <% } else { %>
  <script type="text/javascript" src="/scripts/vue/dist/vue.min.js"></script>
  <% } %>

  <script type="text/javascript" src="js/app.js"></script>

</body>
</html>
