<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>


    <% include ../../partials/roomHeader.ejs %>

    <main id="roomContainer" class="ui" :class="{ container: !roomMaximised }" v-cloak>

        <div id="roomInfobar" class="ui stackable basic segment grid" v-if="!roomMaximised">

            <div class="two wide column">
                <div id="qrcode"></div>
              </div>

            <div class="fourteen wide column">

                <h1 class="ui header">

                    <div class="content">
                        {{ room.title }}
                        <div class="sub header userName">{{ user.nickname }}'s room</div>
                    </div>

                </h1>

                <div class="ui mini horizontal statistic">
                    <div class="value">
                      <i class="users icon"></i> {{ participants }}
                    </div>
                    <div class="label">
                      Participants
                    </div>
                </div>

            </div>

        </div>
        <div class="ui stackable basic segment grid">

            <div class="sixteen wide column">

                <div id="roomMenu" class="ui top attached secondary pointing tabular menu">

                    <a class="active item" data-tab="poll">
                        <i class="bar chart icon"></i> Audience Poll
                    </a>
                    <a class="item" data-tab="whiteboard">
                        <i class="image icon"></i> Whiteboard
                    </a>
                    <a class="item" data-tab="openResponses">
                        <i class="comments icon"></i> Open Q&amp;A
                    </a>

                    <div class="right floated item">
                        <a class="ui large icon button" v-on:click="toggleFullScreen">
                            <i class="maximize icon" v-if="!roomMaximised"></i>
                            <i class="compress icon" v-if="roomMaximised"></i>
                        </a>
                    </div>

                </div>
                <div id="roomContent" class="ui bottom attached loading very padded segment">

                    <div class="ui active tab" data-tab="poll">

                        <% include ../../partials/roomTabs/poll.ejs %>

                    </div>

                    <div class="ui tab" data-tab="whiteboard">

                        <% include ../../partials/roomTabs/whiteboard.ejs %>

                    </div>

                    <div class="ui tab" data-tab="openResponses">

                        <% include ../../partials/roomTabs/openQA.ejs %>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <% include ../../partials/roomScripts.ejs %>
    <script>

        var user = <%-user%>;
        var room = <%-room%>;
        $('#whiteboardModal').modal();
        $('.paintbrushMenu').dropdown();
    </script>

    <script>
    window.onload = function() {

        $('.tabular.menu .item').tab();

        $('.message .close').on('click', function() {
            $(this).closest('.message').transition('fade');
         });

        new QRCode(document.getElementById('qrcode'), {
             text: window.location.href,
             width: 80,
             height: 80,
             colorDark : '#000000',
             colorLight : '#ffffff',
             correctLevel : QRCode.CorrectLevel.H
         });

         pollChart = new CanvasJS.Chart("answerChart", {
                title: {
                    text: room.title,
                    fontFamily: "Karla",
                    fontSize: 18
                },
                animationEnabled: true,
                axisY: {
                    tickThickness: 0,
                    lineThickness: 0,
                    valueFormatString: " ",
                    gridThickness: 0
                },
                axisX: {
                    tickThickness: 0,
                    lineThickness: 0,
                    labelFontSize: 0,
                    labelFontColor: "#FFF"
                },
                data: [
                {
                    indexLabelFontSize: 18,
                    toolTipContent: "<span style='\"'color: {color};'\"'><strong>{indexLabel}</strong></span><span style='\"'font-size: 18px; margin-left:10px;'\"'>{y} votes</span>",

                    indexLabelPlacement: "inside",
                    indexLabelFontColor: "white",
                    indexLabelFontWeight: "normal",
                    type: "bar",
                    dataPoints: pollAnswers
                }
                ]
            });

            setInterval(function() {
                pollChart.render(), 1000
            });

            document.getElementById('roomContent').classList.remove('loading');

        }
    </script>

    <script type="text/javascript" src="/js/session.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>

</body>
</html>
