<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <main>

    <div class="ui centered stackable grid container">

        <div class="five wide column">

          <div class="ui secondary large vertical fluid menu">
            <a href="/" class="item">
              <i class="lab icon"></i> My Activities
            </a>
            <a href="/rooms" class="active item">
              <i class="group icon"></i> My Rooms
            </a>
            <a href="/settings" class="item">
              <i class="cogs icon"></i> Settings
            </a>
          </div>

        </div>

        <div class="eleven wide column">

          <div class="ui raised padded segment">

            <h3 class="ui header">
              <i class="users icon"></i>
              <div class="content">
                My Rooms
                <div class="sub header">Add, remove or modify rooms</div>
              </div>
            </h3>

            <div class="ui doubling link cards basic segment">


                <div class="card">

                  <div class="content">

                    "Continents"

                  </div>

                  <div class="content">

                    <div class="meta">Created Tues 17 Jan</div>
                    <div class="description">A quiz about countries and continents.</div>

                  </div>

                </div>


            </div>

          </div>

        </div>

      </div>

  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/semantic/dist/semantic.min.js"></script>
  <script src="../../socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/scripts/vue/dist/vue.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/client.js"></script>

</body>
</html>
