<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>


    <% include ../../partials/roomHeader.ejs %>

    <main class="ui container">

        <div class="ui stackable basic segment grid">

            <div class="eight wide column">

                <h3 class="ui header">
                    <i class="circular users icon"></i>
                    <div class="content">
                        {{ room.title }}
                        <div class="sub header userName">{{ user.nickname}}'s room</div>
                    </div>
                </h3>

            </div>

            <div class="eight wide column">
                <div class="ui right floated tiny statistic basic segment">
                    <div class="value">
                      <i class="users icon"></i> {{ participants }}
                    </div>
                    <div class="label">
                      Participants
                    </div>
                  </div>
              </div>

              <div id="whiteboardModal" class="ui modal">

                  <i class="close icon"></i>

                  <div class="content">

                      <div class="ui huge left floated vertical buttons">

                          <div class="ui left pointing compact dropdown icon button paintbrushMenu">
                              <i class="paint brush icon"></i>
                                <div class="menu">
                                    <div class="item" v-on:click="setPaintbrushSize()"><i class="tiny circle icon"></i></div>
                                    <div class="item" v-on:click="setPaintbrushSize('8')"><i class="circle icon"></i></div>
                                    <div class="item" v-on:click="setPaintbrushSize('16')"><i class="big circle icon"></i></div>
                                </div>
                          </div>

                          <div class="ui icon button clearWhiteboard"><i class="eraser icon"></i></div>

                      </div>

                      <div id="whiteboard">

                          <canvas width="700" height="300"></canvas>

                      </div>

                  </div>

              </div>

            <div class="ten wide basic clearing segment column">

                    <div class="ui padded top attached segment">

                        <div class="ui transparent fluid huge left icon input">
                          <i class="write icon"></i>
                          <input type="text" v-model="activityTitle" placeholder="Choose a title" required="true">
                        </div>

                    </div>

                    <div class="ui padded bottom attached segment">

                        <div class="ui top attached label">Answers</div>

                        <div class="ui large fluid action input">
                            <input id="newAnswerText" type="text" v-model="newAnswerText" placeholder="Enter an answer" v-on:keyup.enter="addNewAnswer">
                            <a href="#" class="ui button" v-on:click="addNewAnswer"><i class="plus icon"></i> Add</a>
                        </div>

                        <div class="ui segments" v-if="answers.length > 0">

                            <div class="ui transparent fluid labeled action input segment" v-for="(answer, index) in answers">
                                <input type="text" v-model="answer.title">
                                <a href="#" v-on:click="removeAnswer(index)" class="ui icon button"><i class="remove icon"></i></a>
                            </div>

                        </div>

                    </div>

                    <a href="#" class="ui right floated primary button" v-on:click="logData"><i class="play icon"></i> Start activity</a>

            </div>

            <div class="six wide column">

                <canvas id="answerChart" height="50" width="50"></canvas>

            </div>

        </div>

    </main>

    <% include ../../partials/roomScripts.ejs %>
    <script>
        var user = <%-user%>;
        var room = <%-room%>;
        $('#whiteboardModal').modal('show');
        $('.paintbrushMenu').dropdown();

        var answerChart;

        $(function() {

            var ctx = document.getElementById('answerChart').getContext('2d');
            answerChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: vueRoom.answerTitles,
                    datasets: [{
                        label: '# of Votes',
                        data: vueRoom.answerVotes,
                        backgroundColor: []
                    }]
                }
            });
        });
    </script>
    <script type="text/javascript" src="/js/session.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>

</body>
</html>
