<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>


    <% include ../../partials/roomHeader.ejs %>

    <main class="ui container">

        <div class="ui stackable basic segment grid">

            <div class="eight wide column">

                <h3 class="ui header">
                    <i class="circular users icon"></i>
                    <div class="content">
                        {{ room.title }}
                        <div class="sub header userName">{{ user.nickname}}'s room</div>
                    </div>
                </h3>

            </div>

            <div class="eight wide column">
                <div class="ui right floated tiny statistic basic segment">
                    <div class="value">
                      <i class="users icon"></i> {{ participants }}
                    </div>
                    <div class="label">
                      Participants
                    </div>
                  </div>
              </div>

              <div class="sixteen wide column">

                  <div class="ui button clearWhiteboard"><i class="eraser icon"></i> Clear</div>

                  <div id="whiteboard" class="ui loading segment">

                      <canvas width="700" height="300"></canvas>

                  </div>

              </div>

            <div class="ten wide basic clearing segment column">

                    <div class="ui padded top attached segment">

                        <div class="ui transparent fluid huge left icon input">
                          <i class="write icon"></i>
                          <input type="text" v-model="activityTitle" placeholder="Choose a title" required="true">
                        </div>

                    </div>

                    <div class="ui padded bottom attached segment">

                        <div class="ui top attached label">Answers</div>

                        <div class="ui large fluid action input">
                            <input id="newAnswerText" type="text" v-model="newAnswerText" placeholder="Enter an answer" v-on:keyup.enter="addNewAnswer">
                            <a href="#" class="ui button" v-on:click="addNewAnswer"><i class="plus icon"></i> Add</a>
                        </div>

                        <div class="ui segments" v-if="answers.length > 0">

                            <div class="ui transparent fluid labeled action input segment" v-for="(answer, index) in answers">
                                <input type="text" v-model="answer.title">
                                <a href="#" v-on:click="removeAnswer(index)" class="ui icon button"><i class="remove icon"></i></a>
                            </div>

                        </div>

                    </div>

                    <a href="#" class="ui right floated primary button" v-on:click="logData"><i class="play icon"></i> Start activity</a>

            </div>

            <div class="six wide column">

                Test

            </div>

        </div>

    </main>

    <% include ../../partials/roomScripts.ejs %>
    <script>
        var user = <%-user%>;
        var room = <%-room%>;
    </script>
    <script type="text/javascript" src="/js/session.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>

</body>
</html>
