<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="ui main text container">

    <h2>What is the capital of Morocco?</h2>

    <div class="ui form">
      <div class="grouped fields">
    <label for="fruit">Select your second favorite fruit:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
        <label>Apples</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>Oranges</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>Pears</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>Grapefruit</label>
      </div>
    </div>
  </div>
</div>

      <button class="ui primary button eventEmitter">
    Emit an event
  </button>

  </div>

    </div> <!-- close pusher tag -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/semantic/dist/semantic.min.js"></script>
    <script src="../../socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      $('.ui.radio.checkbox').checkbox();

      $('.mobileMenuButton').click(function() {
        $('.ui.sidebar').sidebar('setting', 'transition', 'slide out').sidebar('toggle');
        return false;
      });

      $('.eventEmitter').click(function() {

        socket.emit('button press');

        return false;

      });

    </script>


</body>
</html>
