<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="ui inverted center aligned segment hero">

    <div class="ui container">

      <div id="menu" class="ui stackable fluid inverted secondary borderless basic menu" role="navigation">

        <div class="left header item">

          <a href="/" class="ui centered image">
            <img src="/images/logo.svg">
          </a>

        </div>

        <a href="#" class="showLogin fluid item">
          Log in
        </a>

        <div class="item">

          <a href="#" class="ui fluid inverted button showSignUp">
            Sign up
          </a>

        </div>

      </div>

    </div>

    <div class="ui text center aligned container very padded basic segment slider">

        <h2 class="ui inverted icon header">

          <i class="bar chart icon"></i>

          <div class="content">

              Poll your audience

              <div class="sub header">Get realtime feedback from your audience</div>

          </div>

        </h2>

        <div>
          <a href="#" class="ui large inverted button showSignUp">Sign up <i class="right arrow icon"></i></a>
        </div>

    </div>

  </div>

  <div class="ui basic very padded segment container">

      <h2 class="ui center aligned header">
          How it works
      </h2>

      <div class="ui three stackable steps">
          <div class="step">
          <i class="pencil icon"></i>
            <div class="content">
              <div class="title">Create a room</div>
              <div class="description">Give your room a name, e.g. Paul's 2nd years</div>
            </div>
          </div>
          <div class="step">
              <i class="users icon"></i>
            <div class="content">
              <div class="title">Share &amp; invite</div>
              <div class="description">Participants join on their own smart device via URL or QR code</div>
            </div>
          </div>
          <div class="step">
              <i class="idea icon"></i>
            <div class="content">
              <div class="title">The fun part</div>
              <div class="description">Set questions, start an audience-wide discussion or open up a collaborative whiteboard</div>
            </div>
          </div>
        </div>

    </div>

        <div class="ui divider"></div>

        <div class="ui stackable vertically padded two column grid container">

                <div class="column">

                    [ Audience poll graphic ]

                </div>

                <div class="column">

                    <div class="ui basic very padded segment">

                        <h3 class="ui header">

                            <div class="content">
                                <i class="circular bar chart icon"></i> Real-time audience polling
                                <div class="sub header">
                                    Quiz participants with an easy-to-use multiple choice builder. Gauge the level of understanding in the room.
                                </div>
                            </div>

                        </h3>

                        <h3 class="ui header">

                            <div class="content">
                                <i class="circular picture icon"></i> Collaborative whiteboard
                                <div class="sub header">

                                    Share thoughts and ideas easily, instantly.

                                </div>
                            </div>

                        </h3>

                        <h3 class="ui header">

                            <div class="content">
                                <i class="circular comments icon"></i> Open Q&amp;A
                                <div class="sub header">
                                    Start an open discussion on anything. Participants can share responses in realtime.
                                </div>
                            </div>

                        </h3>

                    </div>

            </div>

        </div>

      <footer>

          <div class="ui basic very padded segment container">

              <div class="ui stackable two column grid">

                  <div class="column">

                      <div class="ui inverted header">
                          <div class="content">
                              participate.live
                              <div class="sub header">
                                  A realtime toolkit for any audience
                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="column">

                      <div class="ui largevery relaxed inverted fluid link list">
                          <a class="item"><i class="sign in icon"></i> Log in</a>
                          <a class="item"><i class="add user icon"></i> Sign up</a>
                        </div>

                    </div>

              </div>

          </div>

      </footer>

  <script src="https://cdn.auth0.com/w2/auth0-7.6.1.min.js"></script>
  <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>

  <script>
  var redirectUrl = '<%=env.AUTH0_CALLBACK_URL%>' || window.location.protocol+'//'+window.location.hostname+':'+location.port+'/callback';

  var lock = new Auth0Lock('<%=env.AUTH0_CLIENT_ID%>', '<%=env.AUTH0_DOMAIN%>', {
     auth: {
       redirectUrl: redirectUrl,
       responseType: 'code',
       params: {
         scope: 'openid name email picture'
        }
      },
      theme: {
        logo: 'images/icon_greyscale.png',
        primaryColor: '#35A2B9'
      },
      languageDictionary: {
        title: "participate.live"
      }
        });

        signupEls = document.getElementsByClassName('showSignUp');
        for(var i = 0; i < signupEls.length; i++) {
            signupEls[i].onclick = function() {
              lock.show({initialScreen: 'signUp'});
            };
        }

        loginEls = document.getElementsByClassName('showLogin');
        for(var i = 0; i < loginEls.length; i++) {
            loginEls[i].onclick = function() {
              lock.show();
            };
        }


          </script>

</body>
</html>
