<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/roomHeader.ejs %>

    <main class="ui very padded blurring segment container" v-cloak>

        <div class="ui dimmer" :class="{ active: !activityStarted }">
            <div class="ui indeterminate text loader">Waiting for the next activity to begin</div>
        </div>

        <div id="whiteboard" class="ui loading segment" v-if="whiteboardEnabled">

            <canvas width="700" height="300"></canvas>

        </div>

        <h3 class="ui header" v-if="activityTitle">{{ activityTitle }}</h3>

        <h3 class="ui header" v-if="openResponseTitle">{{ openResponseTitle }}</h3>

        <div class="ui segments" v-if="answers.length > 0">

            <div class="ui transparent fluid labeled action input segment" v-for="(answer, index) in answers">
                <input type="text" v-model="answer.title">
                <a href="#" v-on:click="vote(index, $event)" class="ui icon button" data-tooltip="Vote" data-inverted><i class="bar chart icon"></i></a>
            </div>

        </div>

    </main>

    <% include ../partials/roomScripts.ejs %>

    <script>
        var room = <%-room%>;



        window.blockMenuHeaderScroll = false;

        $(window).on('touchstart', function(e) {
            if ($(e.target).closest('#whiteboard canvas').length == 1)
            {
                blockMenuHeaderScroll = true;
            }
        });

        $(window).on('touchend', function() {
            blockMenuHeaderScroll = false;
        });

        $(window).on('touchmove', function(e) {

            if (blockMenuHeaderScroll) {
                e.preventDefault();
            }

        });

    </script>
    <script type="text/javascript" src="/js/session.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>

</body>
</html>
